{
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "jsx": true
  },
  "plugins": ["@typescript-eslint", "preact", "jsx-a11y"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:preact/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "no-console": "error",
    "quotes": ["error", "double"],
    "indent": ["error", 2],
    "react/jsx-no-bind": "off",
    "comma-dangle": "off",
    "react/jsx-indent-props": ["error", 2],
    "jsx-a11y/label-has-associated-control": ["off"]
  }
}
